<footer class="footer">
  <small>
    Inspired by <a href="http://www.monkeyandturtle.party">my own wedding</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://ashleylargesse.pixieset.com/guestlogin/laurenandnate/">Photos</a></li>
    </ul>
  </nav>
</footer>
